<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FreeMote.Tools.Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FreeMote.Tools.Viewer.Properties.Settings>
      <setting name="PlaybackSpeed" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ScreenshotWidth" serializeAs="String">
        <value>1920</value>
      </setting>
      <setting name="ScreenshotHeight" serializeAs="String">
        <value>1080</value>
      </setting>
    </FreeMote.Tools.Viewer.Properties.Settings>
  </userSettings>
</configuration>
